# DEVELOPMENT only - используйте app_user для production!
DB_DSN=host=localhost user=app_user password=app_password dbname=todo port=5432 sslmode=disable
PORT=8080
GIN_MODE=debug
JWT_SECRET=KgcJYd0MmSrvDbIMwFb31HoGr8WWf0qm2Eb5Rdw9sLQ
